
@import url("https://ozone-ui.netlify.app/Docs/doc.css");
@import url("https://the-sports-adda.netlify.app/index.css");
@import url("https://ozone-ui.netlify.app/Components/Button/button.css"); 


.margin-top {
  margin: 1rem 0rem;
}

/* .search {
  width: 100%;
  border-radius: 0.5rem;
  height: 2rem;
  border: 2px solid var(--primary-color);
  padding: 1rem;
}

.nav-icon {
  color: var(--primary-color);
  font-size: 2rem;
}

p {
  margin: 1rem;
}

.space-around {
  display: flex;
  justify-content: space-around;
}
.margin-left {
  margin-left: 0;
}

.space-between {
  display: flex;
  justify-content: space-between;
}
.text-strike {
  text-decoration: line-through;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}








.category {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 15rem;
  height: 15rem;
  border-radius: 5px;
  background-color: var(--bg-clr);
  cursor: pointer;

}
.category-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap:5rem;
}
.cat-image {
  width: 168px;
  font-size: 2rem;
  height: 117px;
}
.cat-item {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--secondary-color);
}
.home-logo {
  width: 45rem;
  height: 40rem;
}
.new-arrivals {
  width: 25rem;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  gap:2rem;
  padding: 1rem;
}
.deal-image {
  width: 180px;
  font-size: 2rem;
  height: 140px;
} */